name: CI

on:
  push:
    paths-ignore:
      - "**.md"
  schedule:
    # JST 11:00 (UTC 02:00), 月-金
    - cron: "0 2 * * 1-5"

jobs:
  ci:
    name: CI
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - windows-2025
          - macos-26
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - run: rustup update stable
      - uses: shiguredo/github-actions/.github/actions/rust-cache@main
        with:
          os: ${{ matrix.os }}
          toolchain: stable
      - run: cargo fmt --all --check
      - run: cargo check --workspace
      - run: cargo test --workspace
      - run: cargo clippy --workspace -- -D warnings

  slack_notify_failed:
    needs: [ci]
    runs-on: ubuntu-24.04
    if: ${{ failure() }}
    steps:
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: sora-rust-sdk
          SLACK_COLOR: danger
          SLACK_ICON_EMOJI: ":japanese_ogre:"
          SLACK_TITLE: "FAILED"
          SLACK_MESSAGE: <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|${{github.event.head_commit.message || 'Scheduled run'}}>
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
