name: CI

on:
  push:
    paths-ignore:
      - "**.md"
  schedule:
    # UTC の 01:00 は JST だと 10:00
    # 1-5 で 月曜日から金曜日
    - cron: "0 1 * * 1-5"

jobs:
  ci:
    name: CI
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - windows-2025
          - macos-26
        toolchain:
          - stable
          - beta
          - nightly
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - run: rustup update ${{ matrix.toolchain }}
      - run: rustup default ${{ matrix.toolchain }}
      - name: Cache cargo
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-${{ matrix.toolchain }}-cargo-${{ hashFiles('**/Cargo.toml', '**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.toolchain }}-cargo-
      - run: cargo check --workspace
      - run: cargo test --workspace
      - run: cargo fmt --all --check
      # [NOTE]
      # clippy は「stable と nightly の片方に対応したらもう片方で失敗する」といったケースが
      # まれにあるのと、そもそも nightly のチェックを事前に行うメリットが
      # 薄い（lint で警告がでても、別に普通に使う分には問題はない）ので、
      # ここでは stable だけを使っている
      - run: rustup component add clippy
        if: matrix.toolchain == 'stable'
      - run: cargo clippy --workspace -- -D warnings
        if: matrix.toolchain == 'stable'

  slack_notify_failed:
    needs: [ci]
    runs-on: ubuntu-24.04
    if: ${{ failure() }}
    steps:
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: sora-rust-sdk
          SLACK_COLOR: danger
          SLACK_ICON_EMOJI: ":japanese_ogre:"
          SLACK_TITLE: "FAILED"
          SLACK_MESSAGE: <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|${{github.event.head_commit.message || 'Scheduled run'}}>
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
